{% extends "base.html" %}

{% load static %}

{% block title %}
  <title>Welcome to Taskmate!</title>
{% endblock %}

{% block content %}
  <div class ="container">
    <div class="row mt-5">
      <div class="col-lg-4  col-md-4 col-sm-4">
        <img src="{% static 'Images/stickynote.jpg' %}" alt="Notes" class="rounded-3 shadow-sm" width="360" height="250">
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <img src="{% static 'Images/stickynote.jpg' %}" alt="Notes" class="rounded-3 shadow-sm" width="360" height="250">
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <img src="{% static 'Images/stickynote.jpg' %}" alt="Notes" class="rounded-3 shadow-sm" width="360" height="250">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 offser-md-1">
        <center><p class="h1 text-primary"> Quick and Easy to use Anytime, Anywhere.</p></center>
        <center><p class="h3 mt-3"> Plan Your Day Better. Get Your Life Organised </p></center>
        <center><p class="h6 mt-3"> TASKMATE Lets You Keep Track Of Your Task In One Place</p></center>

        <center><a href="#"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's get started</button></a></center>
      </div>
    </div>
  </div>
{% endblock %}
